<h1>DigiPet</h1>

<p>Here is your pet:</p>

<ul>
  <h4>Name: <%= @pet_name %></h4>
</ul>

<p>Take an action:</p>

<form action="/actions" method="post">
  <label for="action">feed, sleep, play?</label>
  <input id="action" name="action" type="text">

  <button type="submit">Take Action</button>
</form>
